/* title font */
@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
/* gobal font */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap');
/* Cuerpo */
html{
    height: 100%;
}
body {
    padding: auto;
    margin: 5%;
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
    /* degradado implementado con - cssgradient.io */
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17,17,18,1) 35%, rgba(0,212,255,1) 100%);
}
.title {
    font-family: 'Train One', sans-serif;
    text-align: center;
    font-size: 40px;
    color: white;
    padding: 5px;
    line-height: 35px;
    height: 350px;
}
.title h1:hover{
    color: lightseagreen;
}
.title h2{
    font-size: 80px;
}
.title h2:hover {
    color: lightseagreen;
    text-decoration: underline solid lightseagreen;
}
/* barra de navegacion */
.container {
    width: 90%;
    margin: auto;
    padding: 10px;
    line-height: 35px;
}
a:hover {
    text-decoration:underline solid lightseagreen;
}
a {
    color: white;
    text-decoration: none;
}
ul {
    list-style: none;
}
.nav-main {
    font-size: 35px;
    display: flex;
    justify-content: space-between;
    font-family: 'Josefin Sans', sans-serif;
    align-items: center;
    height: 60px;
}
.nav-main ul {
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    padding: auto;
}
.nav-main ul li {
    color: white;
    padding: 125px;
    font-family: 'Josefin Sans', sans-serif;
    padding: auto;
}
/* contenido */
.grid-container {
    display: grid;
    grid-template-columns: 471px 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "daoko lorem";
    justify-items: center;
    align-items: center;
}
.lorem {
    grid-area: lorem;
    font-size: 35px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}
.daoko {
    grid-area: daoko;
}
/* contenido historia */
.grid-container2 {
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "mushoku historia mushokuRoxy";
}
.mushoku {
    grid-area: mushoku;
}
.historia {
    font-size: 25px;
    color: white;
    text-align: center;
    grid-area: historia;
}
.mushokuRoxy {
    grid-area: mushokuRoxy;
}